.birthday-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
}

h2 {
  text-align: center;
}

/* draw a line after the content but not the last one */
/* .birthday-group:not(:last-of-type):after { */
.birthday-group::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin-top: 5px;
}

/* .birthday-group::after:last-child {
  display: none;
} */

.birthday-group app-birthday-card {
  min-width: 340px;
  max-width: 450px;
}

@media (max-width: 768px) {
  .birthday-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .birthday-group app-birthday-card {
    width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 300px) {
  .birthday-group app-birthday-card {
    min-width: 240px;
  }
}
