<div style="text-align: center">
  <img src="assets/images/spinner.gif" alt="spinner" *ngIf="isLoading" />
</div>
<div class="login-container" *ngIf="!isLoading">
  <h2>Login</h2>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Email"
      ngModel
      required
      email
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      ngModel
      required
      minlength="6"
    />
    <p class="error" *ngIf="authForm.invalid && authForm.touched">
      Please enter valid data
    </p>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
    <a routerLink="/forget-password"> Forgot your password?</a>
    <button type="submit" [disabled]="!authForm.valid">الاستمرار</button>
  </form>

  <p>
    New user? <a routerLink="/auth/signup" class="new-acc">Create Account</a>
  </p>
</div>
