<header>
  <img src="assets/images/Notification_Bell_Calendar.svg" alt="logo" />
  <h1>{{ appName }}</h1>
</header>
<div class="main-container">
  <main>
    <h2>تسجيل الدخول</h2>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Email"
        ngModel
        required
        email
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        ngModel
        required
        minlength="6"
      />
      <p class="error" *ngIf="authForm.invalid && authForm.touched">
        الرجاء إدخال بيانات صحيحة
      </p>
      <a routerLink="/forget-password"> نسيت كلمة المرور؟ </a>
      <button type="submit" [disabled]="!authForm.valid">الاستمرار</button>
    </form>

    <p>مستخدم جديد؟ <a routerLink="/signup" class="new-acc">إنشاء حساب</a></p>
  </main>
</div>
