@if (isLoading) {
  <div style="display: flex; width: 100%; align-items: center; justify-content: center">
    <div class="loader"></div>
  </div>
} @else {
  <div class="login-container">
    <h2>{{ 'auth.Login' | translate }}</h2>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <input type="text" name="email" id="email" placeholder="{{ 'auth.Email' | translate }}" ngModel required email />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="{{ 'auth.Password' | translate }}"
        ngModel
        required
        minlength="6"
      />
      @if (authForm.invalid && authForm.touched) {
        <p class="error">
          {{ 'pleaseEnterValidData' | translate }}
        </p>
      }

      @if (errorMessage) {
        <p class="error">
          {{ errorMessage }}
        </p>
      }
      <a routerLink="/auth/forget-password">
        {{ 'auth.ForgotPassword' | translate }}
      </a>
      <button type="submit" [disabled]="!authForm.valid">
        {{ 'Continue' | translate }}
      </button>
    </form>

    <p>
      {{ 'auth.NewUser' | translate }}
      <a routerLink="/auth/signup" class="new-acc">
        {{ 'auth.CreateAccount' | translate }}
      </a>
    </p>
  </div>
}
