#avatar-container {
	position: relative;
}

#avatar-photo,
#add-photo-overlay {
	height: 8rem;
	width: 8rem;
}

#add-photo-overlay {
	position: absolute;
	top: 0px;
	z-index: 2;
	background-color: rgba(233, 236, 239, 0.6);
}

#add-avatar-photo-button {
	position: absolute;
	z-index: 3;
	color: #13293d;
}

#remove-avatar-photo-button {
	position: absolute;
	cursor: pointer;
	width: 20px;
	height: 20px;
	font-size: 20px;
	top: 5%;
	right: 5%;
	z-index: 3;
	color: white;
	background-color: rgba(0, 0, 0, 0.57);
	border-radius: 12px;
}

#remove-avatar-photo-button:hover {
	background-color: #e74c3c;
}

.center-positon-absolute {
	position: absolute;
	top: 50%;
	/* position the top  edge of the element at the middle of the parent */
	left: 50%;
	/* position the left edge of the element at the middle of the parent */
	transform: translate(-50%, -50%);
	/* This is a shorthand of translateX(-50%) and translateY(-50%) */
	/*** Explanation
    Adding top/left of 50% moves the top/left margin edge of the element to the middle of the parent,
    and translate() function with the (negative) value of -50% moves the element by the half of its size.
    Hence the element will be positioned at the middle.
    learn more: https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element
    **/
    background-color: transparent;
}

.avatar-photo {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
