<header>
  <button class="dark-icon-btn close-btn" (click)="backToHome()">X</button>
  <div>
    <button
      class="dark-icon-btn"
      (click)="onEditBirthday()"
      [disabled]="isLoading || isMe"
    >
      <img src="/assets/images/edit.svg" alt="edit icon" />
    </button>
    <button
      class="dark-icon-btn"
      (click)="onDeleteBirthday()"
      [disabled]="isLoading || isMe"
    >
      <img src="/assets/images/trash.svg" alt="trash icon" />
    </button>
  </div>
</header>

<div
  style="
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  "
  *ngIf="isLoading"
>
  <img src="assets/images/loader.gif" alt="spinner" />
</div>

<main *ngIf="!isLoading">
  <div class="title-box">
    <img
      [src]="
        userPhotoUrl && userPhotoUrl !== ''
          ? userPhotoUrl
          : '/assets/images/no-image.png'
      "
      alt="user"
      class="person-image"
    />

    <h2>{{ birthday?.name }}</h2>

    <p class="relationship">{{ birthday?.relationship }}</p>
  </div>

  <div class="detials-box">
    <div>
      <img
        class="calendar-icon"
        src="/assets/images/georgian-calendar.svg"
        alt="georgian calendar icon"
      />
      <h3>Gregorian calendar</h3>
    </div>

    <p>
      Birthdate:
      <span class="semi-bold">{{
        birthday?.birthDate | date : "dd MMMM yyyy"
      }}</span>
    </p>
    <div style="display: flex; align-items: flex-start; gap: 10px">
      <img
        class="tart-icon"
        src="/assets/images/tart.svg"
        alt="tart calendar icon"
      />
      <div style="display: block">
        <p>
          Age:
          <span class="semi-bold">
            {{ birthdayStat?.ageDetailed?.years }} years,
            {{ birthdayStat?.ageDetailed?.remainingMonths }} months,
            {{ birthdayStat?.ageDetailed?.remainingDays }} days,
            {{ birthdayStat?.ageDetailed?.remainingHours }} hours,
            {{ birthdayStat?.ageDetailed?.remainingMinutes }} minutes and
            {{ birthdayStat?.ageDetailed?.remainingSeconds }} seconds
          </span>
        </p>
        <p>
          The next birthday is after
          <span class="semi-bold">
            {{ birthdayStat?.toNextBirthdayStr?.months }} months,
            {{ birthdayStat?.toNextBirthdayStr?.days }} days,
            {{ birthdayStat?.toNextBirthdayStr?.minutes }} minutes and
            {{ birthdayStat?.toNextBirthdayStr?.seconds }} seconds
          </span>
          on
          {{ birthdayStat?.nextBirthdayDayOfWeek }}
          {{ birthdayStat?.nextBirthdateString }}
        </p>
      </div>
    </div>
  </div>

  <div class="detials-box">
    <div>
      <img
        class="calendar-icon"
        src="/assets/images/hijri-calendar.png"
        alt="georgian calendar icon"
      />
      <h3>Hijri calendar</h3>
    </div>

    <p>
      Birthdate:
      <span class="semi-bold">
        {{ birthdayStat?.hjiriDate?.fullDate }} ({{
          birthdayStat?.hjiriDate?.monthNameEN
        }})
      </span>
    </p>
    <div style="display: flex; align-items: stretch; gap: 10px">
      <img
        class="tart-icon"
        src="/assets/images/tart.svg"
        alt="tart calendar icon"
      />
      <div style="display: flex">
        <p>
          Age:
          <!-- <span class="semi-bold"> 24 years, 7 months and 20 days </span> -->
          <span class="semi-bold">
            {{ birthdayStat?.ageInHijri?.years }} years,
            {{ birthdayStat?.ageInHijri?.remainingMonths }} months and
            {{ birthdayStat?.ageInHijri?.remainingDays }} days
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="detials-box">
    <div>
      <img
        class="calendar-icon"
        src="/assets/images/sand-watch.svg"
        alt="sand watch icon"
      />
      <h3>Age in different formats</h3>
    </div>

    <p>
      In months:
      <span class="semi-bold">
        {{ birthdayStat?.ageInMonths?.months }} months and
        {{ birthdayStat?.ageInMonths?.days }} days
      </span>
    </p>
    <p>
      In weeks:
      <span class="semi-bold">
        {{ birthdayStat?.ageInWeeks?.weeks }} weeks and
        {{ birthdayStat?.ageInWeeks?.days }} days
      </span>
    </p>
    <p>
      In days:
      <span class="semi-bold">
        {{ birthdayStat?.ageInDays | numberWithCommas }} days
      </span>
    </p>
    <p>
      In hours: about
      <span class="semi-bold">
        {{ birthdayStat?.ageInHours | numberWithCommas }} hours</span
      >
    </p>
    <p>
      In minutes: about
      <span class="semi-bold">
        {{ birthdayStat?.ageInMinutes | numberWithCommas }} minutes</span
      >
    </p>
    <p>
      In seconds: about
      <span class="semi-bold">
        {{ birthdayStat?.ageInSeconds | numberWithCommas }} seconds</span
      >
    </p>
  </div>

  <div class="detials-box">
    <div>
      <img
        class="calendar-icon"
        src="/assets/images/chart.svg"
        alt="chart icon"
      />
      <h3>More info</h3>
    </div>

    <p>
      Born on:
      <span class="semi-bold">{{
        birthday?.birthDate?.toLocaleDateString("en-US", { weekday: "long" })
      }}</span>
    </p>
    <p>
      It was in the
      <span class="semi-bold">{{ birthdayStat?.yearSeason | titlecase }}</span>
    </p>
    <!-- <p>You breathed about <span class="semi-bold">174,620,000 times</span></p>
    <p>
      Your heart beat about<span class="semi-bold"> 1,005,811,200 times </span>
    </p>
    <p>You laughed about <span class="semi-bold">87,310 times</span></p>
    <p>
      You slept about
      <span class="semi-bold">7 years, 11 months and 18 days</span>
    </p>
    <p>
      You ate about <span class="semi-bold">1 year 03 months and 9 days</span>
    </p> -->
  </div>

  <hr />

  <div class="note">
    <h5>Important note:</h5>
    <p>
      The age in Hijri differs from your age in Gregorian, because the Hijri
      year is 354.36 days, while the Gregorian year is 365.25 days. There is a
      difference between the two calendars about 11 days in each year of your
      life. Therefore, the age in Hijri is greater than the age in Gregorian,
      and the older this difference increases.
    </p>
  </div>
</main>
