<div style="display: flex; width: 100%; align-items: center; justify-content: center; padding-top: 50px">
  <div class="loader"></div>
</div>
<div class="login-container" *ngIf="!isLoading">
  <h2>Forget Password</h2>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <label for="email" style="text-align: start; width: 100%">Email</label>
    <input type="text" name="email" id="email" placeholder="Email" ngModel required email />
    <p class="error" *ngIf="authForm.invalid && authForm.touched">Please enter valid data</p>
    <button type="submit" [disabled]="!authForm.valid">Send</button>
  </form>

  <p>Go back to <a routerLink="/auth/login" class="new-acc">Login</a></p>
</div>
