<header>
  <img
    src="assets/images/Notification_Bell_Calendar.svg"
    alt="logo"
    class="logo-img"
  />
  <h1>
    <img src="/assets/images/logo.svg" alt="logo" class="logo-text" />
  </h1>
</header>

<div class="main-container">
  <main>
    <router-outlet></router-outlet>
  </main>
  <p class="footer-text">
    <a href="https://abdelrahmanbayoumi.github.io/" target="_blank" rel="noopener noreferrer">
      Made with <span class="heart">❤️</span> by Abdelrahman Bayoumi |
      <span>{{ version }}</span>
    </a>
  </p>
</div>
