<header>
  <h1>{{ isEditMode ? "Edit" : "Add" }} Birthday</h1>
  <button class="dark-icon-btn" (click)="backToHome()">
    <img src="/assets/images/arrow.svg" alt="arrow icon" />
  </button>
</header>
<div
  style="
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  "
  *ngIf="isLoading"
>
  <img src="assets/images/loader.gif" alt="spinner" />
</div>
<div *ngIf="!isLoading">
  <main>
    <div>
      <form [formGroup]="birthdayForm!" (ngSubmit)="onSubmit()">
        <img class="person-image" [src]="userPhotoUrl" alt="person image" />
        <div class="image-buttons">
          <button type="button" class="image-add" (click)="openCropPopup()">
            {{ hasImage ? "Edit" : "Upload" }}
          </button>
          <button
            type="button"
            class="image-remove"
            *ngIf="hasImage"
            (click)="removePhoto()"
          >
            Remove
          </button>
        </div>
        <p class="error" *ngIf="fileSizeError" dir="auto">
          Image size must be less than or equal to 2MB
        </p>

        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          placeholder="Name"
          formControlName="name"
        />
        <label for="relationship">Relationship</label>
        <input
          type="text"
          name="relationship"
          placeholder="Relationship"
          formControlName="relationship"
        />
        <label for="date">Birthdate</label>
        <input
          type="date"
          name="birthday"
          placeholder="1999-08-24"
          formControlName="birthday"
        />
        <!-- get error (birthdayNotValid) of birthday field -->
        <p
          class="error"
          *ngIf="birthdayForm?.get('birthday')?.errors?.['birthdayNotValid']"
          dir="auto"
        >
          Birthdate must be in the past
        </p>

        <p
          class="error"
          *ngIf="birthdayForm?.invalid && birthdayForm?.touched"
          dir="auto"
        >
          Please enter valid data
        </p>
        <p class="error" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>

        <button type="submit" [disabled]="!birthdayForm?.valid">
          {{ isEditMode ? "Edit" : "Add" }} Birthday
        </button>
      </form>
    </div>
  </main>
</div>

<app-crop
  class="crop-modal"
  (doneImageCrop)="onDoneCropImage($event)"
  (closeModal)="onCloseCropPopup()"
  *ngIf="showCropModal"
></app-crop>
