<header dir="{{ 'direction' | translate }}">
  <h1 dir="auto">
    {{ isEditMode ? ('edit' | translate) : ('add' | translate) }}
    {{ 'birthday' | translate }}
  </h1>
  <button class="dark-icon-btn" (click)="backToHome()">
    <img src="/assets/images/arrow.svg" alt="arrow icon" />
  </button>
</header>

@if (isLoading) {
  <div style="display: flex; width: 100%; align-items: center; justify-content: center; padding-top: 50px">
    <div class="loader"></div>
  </div>
} @else {
  <div>
    <main>
      <div>
        <form [formGroup]="birthdayForm!" (ngSubmit)="onSubmit()">
          <img class="person-image" [src]="userPhotoUrl" alt="person image" />
          <div class="image-buttons">
            <button type="button" class="image-add" (click)="openCropPopup()">
              {{ hasImageValue ? ('edit' | translate | titlecase) : ('upload' | translate | titlecase) }}
            </button>
            @if (hasImageValue) {
              <button type="button" class="image-remove" (click)="removePhoto()">
                {{ 'remove' | translate }}
              </button>
            }
          </div>
          @if (fileSizeError) {
            <p class="error" dir="auto">
              {{ 'imageSizeMustBeLessThan2MB' | translate }}
            </p>
          }

          <label for="name" dir="{{ 'direction' | translate }}">
            {{ 'Name' | translate }}
          </label>
          <input type="text" name="name" placeholder="{{ 'Name' | translate }}" formControlName="name" />
          <label for="relationship" dir="{{ 'direction' | translate }}">
            {{ 'Relationship' | translate }}
          </label>
          <input
            type="text"
            id="relationship"
            name="relationship"
            [placeholder]="'Relationship' | translate"
            formControlName="relationship"
            list="relationshipOptionsList"
            dir="auto"
          />
          <datalist id="relationshipOptionsList">
            @for (relation of relationshipOptions; track relation) {
              <option [value]="relation"></option>
            }
          </datalist>
          <label for="date" dir="{{ 'direction' | translate }}">
            {{ 'BirthDate' | translate }}
          </label>
          <input type="date" name="birthday" placeholder="1999-08-24" formControlName="birthday" />
          <!-- get error (birthdayNotValid) of birthday field -->
          @if (birthdayForm?.get('birthday')?.errors?.['birthdayNotValid']) {
            <p class="error" dir="auto">
              {{ 'birthdateMustBeInThePast' | translate }}
            </p>
          }

          @if (birthdayForm?.invalid && birthdayForm?.touched) {
            <p class="error" dir="auto">
              {{ 'pleaseEnterValidData' | translate }}
            </p>
          }
          @if (errorMessage) {
            <p class="error">
              {{ errorMessage }}
            </p>
          }

          <button type="submit" [disabled]="!birthdayForm?.valid">
            {{ isEditMode ? ('edit' | translate) : ('add' | translate) }}
            {{ 'birthday' | translate }}
          </button>
        </form>
      </div>
    </main>
  </div>
}

@if (showCropModal) {
  <app-crop class="crop-modal" (doneImageCrop)="onDoneCropImage($event)" (closeModal)="onCloseCropPopup()"></app-crop>
}
