<header dir="{{ 'direction' | translate }}">
  <h1>🔐 {{ 'auth.changePassword' | translate }}</h1>
  <button class="dark-icon-btn" (click)="backToHome()">
    <img src="/assets/images/arrow.svg" alt="arrow icon" />
  </button>
</header>

@if (isLoading) {
  <div style="display: flex; width: 100%; align-items: center; justify-content: center; padding-top: 50px">
    <div class="loader"></div>
  </div>
} @else {
  <div>
    <main>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <label for="currentPassword">{{ 'auth.CurrentPassword' | translate }}</label>
        <input
          type="password"
          name="currentPassword"
          id="currentPassword"
          placeholder="{{ 'auth.CurrentPassword' | translate }}"
          formControlName="currentPassword"
        />
        @if (userForm.controls['currentPassword'].invalid && userForm.controls['currentPassword'].touched) {
          <p class="error" dir="auto">
            {{ 'auth.PasswordLength' | translate }}
          </p>
        }
        <label for="newPassowrd">{{ 'auth.NewPassword' | translate }}</label>
        <input
          type="password"
          name="newPassowrd"
          id="newPassowrd"
          placeholder="************"
          formControlName="newPassowrd"
        />
        @if (userForm.controls['newPassowrd'].invalid && userForm.controls['newPassowrd'].touched) {
          <p class="error" dir="auto">
            {{ 'auth.PasswordLength' | translate }}
          </p>
        }
        <label for="reNewPassword"> {{ 'auth.ReNewPassword' | translate }}</label>
        <input
          type="password"
          name="reNewPassword"
          id="reNewPassword"
          placeholder="************"
          formControlName="reNewPassword"
        />
        @if (userForm.invalid && userForm.touched && userForm.errors?.['notSame']) {
          <p class="error" dir="auto">
            {{ 'auth.passwordsNotMatch' | translate }}
          </p>
        }
        <button class="save-btn" type="submit" [disabled]="!userForm.valid">
          {{ 'save' | translate }}
        </button>
        @if (errorMessage) {
          <p class="error">
            {{ errorMessage }}
          </p>
        }
      </form>
    </main>
  </div>
}
