<header>
  <h1>🔐 Change Password</h1>
  <button class="dark-icon-btn" (click)="backToHome()">
    <img src="/assets/images/arrow.svg" alt="arrow icon" />
  </button>
</header>
<div
  style="
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  "
  *ngIf="isLoading"
>
  <img src="assets/images/loader.gif" alt="spinner" />
</div>
<div *ngIf="!isLoading">
  <main>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <label for="currentPassword">Current Password</label>
      <input
        type="password"
        name="currentPassword"
        id="currentPassword"
        placeholder="Current Password"
        formControlName="currentPassword"
      />
      <p
        class="error"
        *ngIf="userForm?.controls?.['currentPassword']?.invalid && userForm?.controls?.['currentPassword']?.touched"
        dir="auto"
      >
        Make sure the passwords are at least 6 characters long
      </p>
      <label for="newPassowrd">New Password</label>
      <input
        type="password"
        name="newPassowrd"
        id="newPassowrd"
        placeholder="************"
        formControlName="newPassowrd"
      />
      <p
        class="error"
        *ngIf="userForm?.controls?.['newPassowrd']?.invalid && userForm?.controls?.['newPassowrd']?.touched"
        dir="auto"
      >
        Make sure the passwords are at least 6 characters long
      </p>
      <label for="reNewPassword">Re-enter the new password</label>
      <input
        type="password"
        name="reNewPassword"
        id="reNewPassword"
        placeholder="************"
        formControlName="reNewPassword"
      />
      <p
        class="error"
        *ngIf="
          userForm?.invalid && userForm?.touched && userForm?.errors?.['notSame']
        "
        dir="auto"
      >
        Make sure the passwords are the same
      </p>
      <button class="save-btn" type="submit" [disabled]="!userForm.valid">
        Save
      </button>
      <p class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>
    </form>
  </main>
</div>
