<div class="birthday-group">
  <h2>{{ birthdaysGroup.month | dateFormat }}</h2>
  <div class="birthday-item" *ngFor="let birthday of birthdaysGroup.birthdays">
    <div class="birthday-item__image-container">
      <!-- src="https://picsum.photos/200/300" -->
      <img
        class="birthday-item__image"
        src="assets/images/user.svg"
        alt="Birthday person"
      />
    </div>
    <div class="birthday-item__info">
      <h3 class="birthday-item__name">{{ birthday.name }}</h3>
      <div class="birthday-item__age">
        {{ birthday.getAgeAndBirthDate() }}
      </div>
    </div>
    <div class="days-remaining">
      <p>{{ birthday.getDaysUntilNextBirthday() }}</p>
      <p>days</p>
    </div>
  </div>
</div>
