<div class="crop-popup" (click)="close($event)">
  <main>
    <div style="width: 100%; text-align: end">
      <button class="close-btn" (click)="close($event)">X</button>
    </div>
    <div
      *ngIf="!showCropper"
      #dropZone
      id="drop-zone"
      (dragover)="onDragOver($event)"
      (dragleave)="onDragLeave()"
      (drop)="onDrop($event)"
      (click)="openFileInput(fileInput)"
    >
      Drop an image here or click to choose one
    </div>

    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [containWithinAspectRatio]="false"
      [aspectRatio]="1 / 1"
      [resizeToWidth]="256"
      [cropperMinWidth]="128"
      [onlyScaleDown]="true"
      [roundCropper]="true"
      [alignImage]="'center'"
      [style.display]="showCropper ? null : 'none'"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>

    <div class="image-buttons">
      <button
        type="button"
        class="image-add"
        (click)="openFileInput(fileInput)"
      >
        {{ imageSelected ? "Choose other Image" : "Change Image" }}
      </button>
      <button
        type="button"
        class="image-remove"
        *ngIf="imageSelected"
        (click)="removeImage()"
      >
        Discard
      </button>
      <input
        #fileInput
        type="file"
        style="display: none"
        (change)="fileChangeEvent($event)"
        name="avatar"
        accept="image/png, image/jpeg, image/jpg"
      />
    </div>
    <button
      type="button"
      class="image-save"
      *ngIf="imageSelected"
      (click)="saveImage()"
    >
      Save
    </button>
  </main>
</div>
