<div class="signup-container">
  <h2>سجل الآن</h2>
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <input
      type="text"
      name="fullName"
      id="fullName"
      placeholder="Name"
      ngModel
      required
    />
    <input
      type="date"
      name="birthdate"
      id="birthdate"
      placeholder="dd/mm/yyyy"
      ngModel
      required
    />
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Email"
      ngModel
      required
      email
    />
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      ngModel
      required
      minlength="6"
    />
    <p class="error" *ngIf="authForm.invalid && authForm.touched" dir="auto">
      الرجاء إدخال بيانات صحيحة
    </p>
    <button type="submit" [disabled]="!authForm.valid">الاستمرار</button>
  </form>

  <p>
    مُسجل بالفعل؟ <a routerLink="/auth/login" class="has-acc">تسجيل الدخول</a>
  </p>
</div>
