<header>
  <div>
    <img
      src="/assets/images/hamburger.svg"
      alt="bars icon"
      (click)="showNavbar(mobileNav)"
      class="hamburger hidden"
    />
    <img src="/assets/images/logo.svg" alt="logo" class="logo-text" />
  </div>
  <nav>
    <a
      href="https://github.com/AbdelrahmanBayoumi/age-tracker-app"
      target="_blank"
      rel="noopener noreferrer"
      >For Developers</a
    >
    <a href="mailto:abdelrahmanbayoumi1@gmail.com">Contact Us</a>
    <a class="home-btn" routerLink="/home">
      <img
        src="assets/images/georgian-calendar.svg"
        alt="georgian calendar"
        class="home-btn-img"
      />
      Go to the App
    </a>
  </nav>

  <div class="mobile-nav hidden" #mobileNav>
    <a
      href="https://github.com/AbdelrahmanBayoumi/age-tracker-app"
      target="_blank"
      rel="noopener noreferrer"
      >For Developers</a
    >
    <a href="mailto:abdelrahmanbayoumi1@gmail.com">Contact Us</a>
    <a class="home-btn" routerLink="/home">
      <img
        src="assets/images/georgian-calendar.svg"
        alt="georgian calendar"
        class="home-btn-img"
      />
      Go to the App
    </a>
  </div>
</header>

<div class="hero">
  <div class="textbox-container">
    <div class="textbox">
      <!-- <div class="background-border"></div> -->
      <h2>Embrace the Journey of Life with Age Tracker!</h2>
      <p>
        Seize every moment & never forget a birthday! Displays age in real-time,
        Hijri & Gregorian. Monitor age in in many formats. Rejoice, remember,
        and make every moment meaningful!
      </p>
      <button class="home-btn" routerLink="/home">
        <img
          src="assets/images/georgian-calendar.svg"
          alt="georgian calendar"
          class="home-btn-img"
        />
        Go to the App
      </button>
    </div>
  </div>
  <div class="visuals">
    <img src="/assets/images/hero-img.png" alt="hero" />
  </div>
</div>
<!--
<img src="/assets/images/wave.svg" alt="wave"  class="wave"/> -->

<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#f5f7fe"
    fill-opacity="1"
    d="M0,0L48,42.7C96,85,192,171,288,202.7C384,235,480,213,576,218.7C672,224,768,256,864,266.7C960,277,1056,267,1152,250.7C1248,235,1344,213,1392,202.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    data-darkreader-inline-fill=""
    style="--darkreader-inline-fill: #1b1d1e"
  ></path>
</svg>

<ng-particles
  [id]="id"
  [options]="particlesOptions"
  [particlesInit]="particlesInit"
  (particlesLoaded)="particlesLoaded($event)"
></ng-particles>
