<div class="birthday-item">
  <div class="birthday-item__image-container">
    <img
      class="birthday-item__image"
      [src]="
        birthday?.image && birthday?.image !== ''
          ? birthday?.image
          : '/assets/images/no-image.png'
      "
      alt="Birthday person"
    />
  </div>
  <div class="birthday-item__info">
    <h3 class="birthday-item__name">{{ birthday?.name }}</h3>
    <div class="birthday-item__age">
      {{ birthday?.getAgeAndBirthDate() }}
    </div>
  </div>
  <div class="days-remaining">
    <p>{{ birthday?.getDaysUntilNextBirthday() }}</p>
    <p>days</p>
  </div>
</div>
