<div class="birthday-item" dir="{{ 'direction' | translate }}">
  <div class="birthday-item__image-container">
    <img class="birthday-item__image" [src]="photoUrl" alt="Birthday person" />
  </div>
  <div class="birthday-item__info">
    <h3 class="birthday-item__name">{{ birthday?.name }}</h3>
    <div class="birthday-item__age" dir="auto">{{ ageAndBirthDate }} {{ 'yearsOld' | translate }}</div>
  </div>
  <div class="days-remaining">
    <p>{{ daysUntilNextBirthday }}</p>
    <p>{{ 'day' | translate | lowercase }}</p>
  </div>
</div>
