<div class="relationship-box" appHorizontalScroll #dd>
  @if (relationships && relationships.size > 0) {
    <button
      class="relation-btn relation-btn-all"
      [class.relation-btn-selected]="selectedRelation === '-1'"
      (click)="onChooseRelation('-1', -1)"
    >
      {{ 'All' | translate }}
    </button>
  }
  @for (relationship of relationships; track relationship; let i = $index) {
    <button
      class="relation-btn"
      (click)="onChooseRelation(relationship, i)"
      [class.relation-btn-selected]="selectedRelation === relationship"
    >
      {{ relationship }}
    </button>
  }
</div>
