/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #f5f7fe;
  --light-blue: #5296cf;
  --dark-hover: #1e2b3c;
  --dark-primary: #33485d;
  --bg-color: #f5f7fe;
  --green: #28a745;
  --teal: #20c997;
}

body {
  background-color: var(--bg-color);
  /* hide horzontal scroll */
  overflow-x: hidden;
}
/* ------ FORM ------- */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="date"] {
  min-width: 240px;
  width: 300px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.061);
}

form input:focus {
  outline: none;
}

form button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--light-blue);
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.061);
}

form button:hover {
  background-color: #455f88;
}

form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

form .error {
  color: red;
  font-size: 0.9rem;
}

.dark-icon-btn {
  background-color: var(--dark-primary);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

