header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-hover);
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

header h1 {
  padding: 0px;
}

header img {
  vertical-align: middle;
}

footer {
  border-radius: 20px 20px 0px 0px;
  background: #fff;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
  padding: 0px 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  bottom: 0;
  width: 100%;
}

footer button:not(.add-event-btn) {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px 10px;
  cursor: pointer;
  height: 40px;
}

footer button img {
  width: 100%;
}

.add-event-btn {
  position: relative;
  top: -20px;
  background: var(--dark-primary, #33485d);
  border-radius: 50%;
  width: 73px;
  height: 73px;
  padding: 3px;
  cursor: pointer;
  padding: 15px;
  border: white 3px solid;
}

main {
  padding-bottom: 100px;
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(180deg, rgba(15, 47, 78, 0.95) 0%, #151e29 100%);
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  z-index: 101;
  transform: translateY(-100%);
  transition: transform 300ms ease-out;
}
.drawer > div {
  width: 100%;
  text-align: right;
}
.drawer .dark-icon-btn {
  font-size: 1.3rem;
  font-weight: bold;
}

.drawer__about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer__about p {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

.drawer__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.drawer__links button {
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  min-height: 40px;
}


.drawer__links button:first-child {
  background: var(--dark-primary);
}

.drawer__links button:last-child {
  background-color: transparent;
  border: 3px solid var(--dark-primary);
}

.drawer-open {
  display: flex !important;
  opacity: 1 !important;
  transform: translateX(0) !important;
}
