<header>
  <h1 dir="auto" (click)="scrollToTop()">
    <img src="/assets/images/logo.svg" alt="logo" />
  </h1>
  <button class="dark-icon-btn">
    <img src="/assets/images/search.svg" alt="search icon" />
  </button>
</header>
<main *ngIf="userVerified">
  <app-relationship-toggle></app-relationship-toggle>

  <app-birthday-list></app-birthday-list>
</main>

<div class="verifyAccountBox" *ngIf="!userVerified">
  <p>
    Please verify your email address. We have sent you an email with a link to
    verify your account.
  </p>
  <button
    (click)="sendVerificationEmail(verificationButton)"
    #verificationButton
  >
    Resend Verification Email
  </button>
</div>

<footer>
  <button (click)="scrollToTop()">
    <img src="/assets/images/home.svg" alt="home icon" />
  </button>

  <button class="add-event-btn">
    <img src="/assets/images/calendar-add.svg" alt="add birthday" />
  </button>

  <button (click)="onOpenDrawer()">
    <img src="/assets/images/bars.svg" alt="bars icon" />
  </button>
</footer>

<div class="drawer" #drawer>
  <div>
    <button class="dark-icon-btn" (click)="onCloseDrawer()">X</button>
  </div>
  <div class="drawer__about">
    <img
      src="assets/images/Notification_Bell_Calendar.svg"
      alt="logo"
      class="logo-img"
    />
    <h1>
      <img src="/assets/images/logo.svg" alt="logo" class="logo-text" />
    </h1>
    <p>
      is a flexible tool that helps users keep track of important birthdays,
      including those of their loved ones. It features real-time age display in
      Hijri and Georgian calendars.
    </p>
  </div>
  <hr />
  <div class="drawer__links">
    <button rout>Settings ⚙️</button>
    <button (click)="logout()">Logout</button>
  </div>
</div>
