header {
  position: sticky;
  top: 0;
  background-color: var(--dark-hover);
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: #fff;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
  gap: 10px;
  margin-bottom: 20px;
}

main > form {
  width: 80%;
  max-width: 400px;
  min-width: 250px;
}

.person-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

form label {
  width: 100%;
  text-align: left;
}
form .buttons-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  justify-content: flex-end;
  gap: 15px;
}

form button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1rem;
  background-color: var(--light-blue);
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.061);
  max-width: 120px;
}

form button:hover {
  background-color: #455f88;
}

form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

form .save-btn {
  background-color: green;
  color: white;
}

form .save-btn:hover {
  background-color: darkgreen;
  color: white;
}

main hr {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
}
.settings-buttons-box {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 15px;
}

.settings-btn {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.061);
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.settings-btn img,
.settings-btn svg {
  height: 20px;
  margin-right: 10px;
}
.settings-btn svg {
  fill: red;
}

.settings-btn:hover {
  background-color: lightblue;
}

.settings-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.delete-btn {
  background-color: transparent;
  color: red;
  box-shadow: none;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}

.delete-btn:hover svg {
  fill: white;
}

.delete-btn:disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
  color: red;
}

.delete-btn:disabled:hover svg {
  fill: red;
}

.image-buttons{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.image-buttons .image-remove{
  background-color: #f44336;
}
